* {
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
  margin: 0px;
  outline: none;
}

/*STRUCTURAL ELEMENTS*/
body {
  display: grid;
  grid-template-columns: 15% auto 30%;
  grid-template-rows: 5% 35% 60%;
  grid-template-areas: 
    "sidebar nav ."
    "sidebar header ."
    "sidebar table article";
}

aside {
  background-color: #354052; 
  color: #CCC;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  grid-column: 1 / span 1;
  grid-row: 1 / span 3;
}

main {
  display: flex;
  background-color: #edf2f8;
  flex-direction: column;
  padding: 2em 2em 0em 2em;
}

header {
  background-color: #FFF;
  grid-row: 2 / span 1;
  grid-column: 2 / span 2;
}

.top-nav {
  grid-column: 2 / span 2;
  grid-row: 1 / span 1;
}

form {
  display: grid;
  grid-template-columns: 10% 60% 10% 10% 10%;
  grid-template-rows: 100%;
  grid-template-areas: "1 2 3 4 5";
  height: 5rem;
}

article {
  background-color: #edf2f8;
  display: flex;
  flex-direction: column;
  grid-row: 3 / span 1;
  grid-column: 3 / span 1;
  padding: 2em;
}


/*TYPOGRAPHY*/
ul {
  list-style: none;
  padding-left: 0;
  font-size: 1.5em;
  font-variant: small-caps;
  line-height: 2em;
}​

li {
  color: #CCC;
  list-style-type: none;
}

li:hover {
  background-color: #2C3547;
  color: #FFF;
}

h1 {
  color: #333;
}

h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

h3 {
  color: #666;
  font-size: 1.25em;
  font-weight: 700;
  margin: 20px 0px 10px 0px;
}

h5 {
  color: #6f7e95;
  font-size: 1em;
  font-weight: 700;
  padding: 10px 5px;
}

a {
  color: #33CCCC;
  text-decoration: none;
}

a:hover {
  color: #009999;
}

.code-snip {
  display: block;
  margin: 5px 10px;
}

.social-p {
  margin-bottom: 10px;
}


/*SIDEBAR*/
.profile-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#profile-pic {
  border: 0;
  border-radius: 50%;
  max-height: 150px;
  min-height: 100px;
  max-width: 150px;
  min-width: 100px;
  margin: 10px;
  padding: 10px;
}

#hiring-pic {
  border: 0;
  border-radius: 50%;
  display: inline-block;
  height: 40px;
  margin-right: 10px;
  width: 40px;
}

#side-menu-1 {
  text-align: center;
}

select {
  width: 50%;
}

.side-menu {
  align-content: flex-start;
  border-bottom: 0;
  border-top: 3px solid #28303F;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 250px;
  padding: 10px 0px;
}

.checkbox {
  display: inline-block;
  margin-right: 0;
}

label {
  display: inline-block;
  font-size: 1.2em;
  margin: 0px;
  position: relative;
}

.profile-name {
  font-weight: 400;
}

i { 
  margin: 0px 15px 0px 20px;
}



/*TOP-NAV-FORM*/
.top-nav-btn {
  background-color: #FFF;
  color: #CCC;
}

#hamburger-btn {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
}

.main-search {
  border: 0;
  display: inline-block;
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
  font-size: .75em;
  margin-top: 1.4em;
  width: 80%;
}

.main-search:focus {
  outline: none;
}

.main-search-div {
  border: 1px;
  border-color: #CCC;
  text-align: center;
  padding: 0px 0px 0px 20px;
}

.fa-search {
  margin-left: 10px
}

#add-person-btn {
  grid-column: 3 / span 1;
  grid-row: 1 / span 1;
}

#list-btn {
  grid-column: 4 / span 1;
  grid-row: 1 / span 1;
}

#network-btn {
  grid-column: 5 / span 1;
  grid-row: 1 / span 1;
}

.main-search::placeholder {
  color: #939598;
  size: 4em;
}


/*HEADER*/
#header-profile-div {
  display: flex;
  flex-direction: row;
  margin: 20px;
}

#name-div {
  margin-left: 23px;
  width: 70%;
}

#profile-button-div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 30%;
}

#bullet {
  display: inline-block;
  margin: 0px 12px;
}

p,
.preview-text {
  color: #666;
  display: inline-block;
  text-decoration-line: none;
}

.preview-text {
  color: #33CCCC;
}

/*TAB NAV*/
#tab-nav {
  display: flex;
  flex-direction: row;
  min-height: 40px;
}

.tab-li {
  color: #999;
  display: inline-block;
  margin: auto;
  font-weight: 700;
}

.tab-li:hover, 
#summary-tab {
  background-color: #FFF;
  color: #333;
  border-bottom: 2px solid #333;
}

.menu-tab {
  display: none;
}

/*CHARTS*/
.charts-article {
  display: flex;
  flex-direction: row;
}

.pie-section {
  display: flex;
  flex-direction: column;
}

.circle-div {
  display: flex;
  justify-content: space-around;
}

.pie-div {
  background-color: rgba(0, 0, 0, 0);
  border: 10px;
  border-style: solid;
  border-right-color: #33CCCC;
  border-left-color: #33CCCC;
  border-bottom-color: #33CCCC;
  border-top-color: #CCC;
  border-radius: 50%;
  color: #354052;
  display: inline-block;
  font-size: 3em;
  width: 3.1em;
  height: 3.1em;
  padding: .8em 0;
  text-align: center;
  line-height: .5em;
  margin: 20px;
}

.small-font-span {
  font-size: 20px;
  font-variant: small-caps;
  font-weight: 700;
}

.bar-chart-section {
  display: flex;
  flex-direction: column;
  margin: 0px auto; 
}

.graph-image {
  max-height: 200px;
  margin: 0 auto;
  align-self: center;
}

/*MAIN PARAGRAPH RULE*/
.paragraph-rule-holder {
  background-color: #edf2f6;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  min-height: 15px;
  width: 100%;
}
.paragraph-rule {
  background-color: pink;
  border-top: 2px solid #CCC;
  height: 2px;
  width: 45%;
}

/*TABLE*/
table {
  background-color: white;
  border: 0;
  box-shadow: 0px 0px 3px #CCC;
  height: 95%;
  font-size: 1.2em;
  font-weight: 700;
}

thead {
  color: #FFF;
  background-color: #666;
  font-weight: 700;
  font-variant: small-caps;
  height: 100px;
}

tr td {
  border-bottom: 1px solid #CCC;
}

.last-row {
  border-bottom: 0px;
}

.table-header {
  padding: 20px;
  text-align: left;
}

.table-column1 {
  font-variant: small-caps;
  padding: 10px;
  min-width: 200px;
}

.table-column2 {
  font-weight: 400;
  min-width: 300px;
  padding: 10px;
}

.hiring-pic-span {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/*SIDE ARTICLE*/
.social-div {
  display: flex;
  flex-direction: column;
}

#button-widget-div {
  border-bottom: 1px solid #CCC;
  border-top: 1px solid #CCC;
}



/*ARTICLE*/
.code-span {
  background-color: #FFF;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
}

.fa-globe, 
.fa-paper-plane,
.fa-hand-o-up {
  margin: 0px 10px 0px 0px;
}

/*BUTTONS*/
#main-search-div,
.top-nav-btn {
  border: .05em;
  border-color: #CCC;
  border-style: solid;
  color: #999;
  font-size: 1.5em;
}

.top-nav-btn:hover {
  background-color: #33cccc;
  border: none;
  color: #FFF;
  text-decoration: none;
}

.top-nav-btn:active {
  background-color: #009999;
  color: #FFF;
}

.rounded-btn {
  border: .1em;
  border-color: #CCC;
  border-style: solid;
  border-radius: 50%;
  width: 3em;
  height: 3em;
  line-height: 0;
  color: #999;
  text-align: center;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0);
  font-size: 1em;
  font-weight: bold;
}

button i {
  margin: 0 auto;
}

#applicants-btn,
#total-btn,
#open-btn {
  background-color: #FFF;
  border-radius: 2em;
  padding: 1em;
  width: auto;
  margin: auto;
}

#open-btn {
  margin: 0;
}

.fa-circle {
  color: lightgreen;
}

#total-btn{
  display: block;
}

.sq-button {
  border: 0;
  font-size: 1em;
}

#table-edit-btn {
  background-color: #444;
  color: #FFF;
  font-variant: small-caps;
  font-weight: 700;
  min-width: 80px;
  padding-bottom: 5px;
  text-align: center;
}

.fa-pencil {
  padding: 5px;
}

.rounded-btn:hover {
  background-color: #33CCCC;
  border-color: #33CCCC;
  box-shadow: 0 0 4px #CCC;
  color: #FFF;
}

#applicants-btn:hover,
#total-btn:hover,
#open-btn:hover {
  background-color: #33CCCC;
  border-color: #33CCCC;
}

.social-button {
  color: #FFF;
  font-weight: 700;
  padding: 1em;
  margin: .5em 0em;
}

.social-button i {
  float: left;
  font-size: 1.5em;
  letter-spacing: 1px;
  margin-left: 10px;
}

#table-edit-btn:hover,
.social-button:hover {
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,.4);
}

#facebook-btn {
  background-color: #4a6ec2;
  margin-top: 0;
}

#twitter-btn {
  background-color: #01aaef;
}

#linkedin-btn {
  background-color: #047ebd;
}    

.copy-button {
  background-color: #33CCCC;
  color: #FFF;
  display: inline-block;
  letter-spacing: 1px;
  font-size: .8em;
  font-weight: 700;
  min-width: 80px;
}

.copy-button:hover {
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,.4);
}

@media screen and (max-width: 1100px){
  body {
    grid-template-columns: 60% 40%;
    grid-template-rows: 5% 35% 60%;
    grid-template-areas: 
      "nav ."
      "header ."
      "table article";
  }

  aside {
    display: none;
  }

  .top-nav {
    grid-column: 1 / span 2;
    grid-row: 1 / span 1;
  }

  header {
    background-color: #FFF;
    grid-column: 1 / span 2;
    grid-row: 2 / span 1;
  }

  article {
    grid-row: 3 / span 1;
    grid-column: 2 / span 1;
  }

   #tab-nav {
    flex-wrap: wrap;
  }

  .table-column1 {
    min-width: 100px;
  }

  .table-column2 {
    font-size: .9em;
    min-width: 200px;
  }

}

@media screen and (max-width: 1012px){
  .pie-div {
    margin: 5px;
  }

    .charts-article {
    flex-direction: column;
  }

  #name-div {
    margin-left: 23px;
    width: 50%;
  }

  #profile-button-div {
    align-items: flex-end;
    width: 50%;
  }
  
}

@media screen and (max-width: 800px){
  body {
    grid-template-columns: 100%;
    grid-template-rows: 50%;
    grid-template-areas: 
      "nav"
      "header"
      "table" 
      "article";
  }

  .top-nav {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
  }

  header {
    background-color: #FFF;
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
  }

  table {
    grid-column: 1 / span 1;
    grid-row: 3 / span 1;
  }

  article {
    grid-column: 1 / span 1;
    grid-row: 4 / span 1;
  }

  .copy-button {
    height: 40px;
  }

  .fa-globe, 
  .fa-paper-plane,
  .fa-hand-o-up {
    margin: 0px 10px;
  }

  #profile-button-div {
    flex-wrap: wrap;
  }

  #tab-nav {
    flex-wrap: wrap;
    justify-content: center;
  }

  .tab-li {
    margin-left: 10px;
    margin-right: 10px;
  }

  #total-btn, 
  #applicants-btn {
    margin: 10px auto;
  }

  .charts-article {
    flex-direction: column;
  }

  .table-column1 {
    min-width: 100px;
  }

  .table-column2 {
    min-width: 200px;
  }

  article {
    padding: 2em 5em;
  }



}

@media screen and (max-width: 640px){
  #header-profile-div {
    flex-direction: column;
    justify-content: center;
  }

  #name-div {
    justify-content: center;
    margin: 10px;
    width: 100%;
  }

  #profile-button-div {
    width: 100%;
  }

  .pie-div {
    background-color: rgba(0, 0, 0, 0);
    border: 0px;
    border-style: unset;
    border-radius: unset;
    display: flex;
    justify-content: center;
    font-size: 2em;
    width: 100%;
    height: 1em;
    padding: .7em;
    line-height: .5em;
    margin: 5px 0px;
  }

  .small-font-span {
    margin: 0px 10px;
  }

  .code-span {
    flex-direction: column;
  }
}

@media screen and (max-width: 530px){
  form {
    grid-template-columns: 15% 40% 15% 15% 15%;
    grid-template-rows: 100%;
    grid-template-areas: "1 2 3 4 5";
    height: 5rem;
  }

  .main-search {
    width: 50%;
  }

  #profile-subtext {
    padding: 5px 10px;
  }

  #profile-button-div {
    align-items: center;
    width: 100%;
  }

  #name-div {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-left: 0px;
    width: 100%;
    padding: 0px;
  }

  #header-profile-div {
    padding: 10px;
    margin: 0;
  }

  h1 {
    text-align: center;
  }

  .other-tabs {
    display: none;
  }

  .menu-tab {
    display: unset;
    margin-left: 50px;
  }

  #menu-caret {
    margin: 0px 0px 0px 15px;
  }

  .circle-div {
    width: 100%;
    flex-direction: column;
  }

  .graph-image {
    min-width: unset;
    width: 100%;
  }

  .charts-article {
    padding: 5px;
  }

  main {
    padding: 5px;
  }

  table {
    width: 100%;
  }

  .table-column1 {
    min-width: 10%;
  }

  .table-column2 {
    min-width: 80%;
  }

  article {
    padding: 10px;
  }
}

